src/main/mule/order-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- Global configurations -->
    <configuration-properties doc:name="Configuration properties" file="properties/order-api-config.yaml" />
    
    <http:listener-config name="order-api-http-listener-config">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    
    <!-- Global error handler -->
    <error-handler name="global-error-handler">
        <on-error-propagate type="ANY">
            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "status": "error",
    "message": error.description,
    "timestamp": now()
}]]></ee:set-payload>
                </ee:message>
                <ee:variables>
                    <ee:set-variable variableName="httpStatus">500</ee:set-variable>
                </ee:variables>
            </ee:transform>
            <logger level="ERROR" message="Error occurred: #[error.description]" category="com.mycompany.order.api"/>
            <set-variable variableName="httpStatus" value="#[vars.httpStatus default 500]"/>
            <set-variable variableName="reasonPhrase" value="#[error.errorMessage.payload.message default error.description]"/>
        </on-error-propagate>
    </error-handler>
    
    <!-- Main flow for POST order API -->
    <flow name="post-order-flow">
        <http:listener config-ref="order-api-http-listener-config" path="${http.path}" allowedMethods="POST">
            <http:response statusCode="#[vars.httpStatus default 201]" reasonPhrase="#[vars.reasonPhrase default 'Created']"/>
            <http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase="#[vars.reasonPhrase default 'Internal Server Error']"/>
        </http:listener>
        
        <logger level="INFO" message="Received order request" category="com.mycompany.order.api"/>
        
        <!-- Validate the incoming payload -->
        <ee:transform>
            <ee:message>
                <ee:set-payload resource="dwl/validate-order.dwl"/>
            </ee:message>
        </ee:transform>
        
        <choice>
            <when expression="#[payload.valid]">
                <!-- Process the order -->
                <ee:transform>
                    <ee:message>
                        <ee:set-payload resource="dwl/transform-order.dwl"/>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">201</ee:set-variable>
                        <ee:set-variable variableName="reasonPhrase">"Created"</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                
                <logger level="INFO" message="Order created successfully with ID: #[payload.orderId]" category="com.mycompany.order.api"/>
            </when>
            <otherwise>
                <!-- Handle invalid request -->
                <ee:transform>
                    <ee:message>
                        <ee:set-payload resource="dwl/error-response.dwl"/>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                        <ee:set-variable variableName="reasonPhrase">"Bad Request"</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                
                <logger level="WARN" message="Invalid order request received" category="com.mycompany.order.api"/>
            </otherwise>
        </choice>
        
        <error-handler>
            <on-error-propagate type="ANY">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "status": "error",
    "message": error.description,
    "timestamp": now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">500</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="ERROR" message="Error occurred: #[error.description]" category="com.mycompany.order.api"/>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- Flow to generate tracking number for an order -->
    <flow name="post-tracking-flow">
        <http:listener config-ref="order-api-http-listener-config" path="/api/orders/{orderId}/tracking" allowedMethods="POST">
            <http:response statusCode="#[vars.httpStatus default 201]" reasonPhrase="#[vars.reasonPhrase default 'Created']"/>
            <http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase="#[vars.reasonPhrase default 'Internal Server Error']"/>
        </http:listener>
        
        <logger level="INFO" message="Generating tracking number for order: #[attributes.uriParams.orderId]" category="com.mycompany.order.tracking"/>
        
        <!-- Validate order ID -->
        <choice>
            <when expression="#[attributes.uriParams.orderId != null and attributes.uriParams.orderId != '']">
                <!-- Generate tracking number -->
                <ee:transform>
                    <ee:message>
                        <ee:set-payload resource="dwl/generate-tracking.dwl"/>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">201</ee:set-variable>
                        <ee:set-variable variableName="reasonPhrase">"Created"</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                
                <logger level="INFO" message="Tracking number generated: #[payload.trackingNumber] for order: #[payload.orderId]" category="com.mycompany.order.tracking"/>
            </when>
            <otherwise>
                <!-- Handle invalid order ID -->
                <ee:transform>
                    <ee:message>
                        <ee:set-payload resource="dwl/tracking-error-response.dwl"/>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                        <ee:set-variable variableName="reasonPhrase">"Bad Request"</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                
                <logger level="WARN" message="Invalid order ID provided for tracking generation" category="com.mycompany.order.tracking"/>
            </otherwise>
        </choice>
        
        <error-handler>
            <on-error-propagate type="ANY">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "status": "error",
    "message": error.description,
    "timestamp": now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">500</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="ERROR" message="Error generating tracking number: #[error.description]" category="com.mycompany.order.tracking"/>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- Flow to retrieve tracking information -->
    <flow name="get-tracking-flow">
        <http:listener config-ref="order-api-http-listener-config" path="/api/tracking/{trackingNumber}" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]" reasonPhrase="#[vars.reasonPhrase default 'OK']"/>
            <http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase="#[vars.reasonPhrase default 'Internal Server Error']"/>
        </http:listener>
        
        <logger level="INFO" message="Retrieving tracking information for: #[attributes.uriParams.trackingNumber]" category="com.mycompany.order.tracking"/>
        
        <!-- Validate tracking number -->
        <choice>
            <when expression="#[attributes.uriParams.trackingNumber != null and attributes.uriParams.trackingNumber != '' and sizeOf(attributes.uriParams.trackingNumber) >= 10]">
                <!-- Retrieve tracking information -->
                <ee:transform>
                    <ee:message>
                        <ee:set-payload resource="dwl/get-tracking-info.dwl"/>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">200</ee:set-variable>
                        <ee:set-variable variableName="reasonPhrase">"OK"</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                
                <logger level="INFO" message="Tracking information retrieved for: #[payload.trackingNumber]" category="com.mycompany.order.tracking"/>
            </when>
            <otherwise>
                <!-- Handle invalid tracking number -->
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "status": "error",
    "message": "Invalid tracking number. Tracking number must be at least 10 characters long.",
    "timestamp": now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                        <ee:set-variable variableName="reasonPhrase">"Bad Request"</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                
                <logger level="WARN" message="Invalid tracking number provided: #[attributes.uriParams.trackingNumber]" category="com.mycompany.order.tracking"/>
            </otherwise>
        </choice>
        
        <error-handler>
            <on-error-propagate type="ANY">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "status": "error",
    "message": error.description,
    "timestamp": now()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">500</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="ERROR" message="Error retrieving tracking information: #[error.description]" category="com.mycompany.order.tracking"/>
            </on-error-propagate>
        </error-handler>
    </flow>
</mule>